<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icon.activities" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.icon.activities.AuthActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.icon.activities.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.icon.activities.DevicesManageActivity"
            android:label="@string/action_manage_devices" >
        </activity>
        <activity
            android:name="com.icon.activities.ProgrDeviceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/action_progr_device" >
        </activity>
        <activity
            android:name="com.icon.activities.ProgrDevicesGroupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/action_progr_devices_group" >
        </activity>
        <activity
            android:name="com.icon.activities.ProgrDevicesGroupActivity2"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/action_progr_devices_group2" >
        </activity>
        <activity
            android:name="com.icon.activities.EditDeviceActivity"
            android:label="@string/action_edit_device" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/action_test" >
        </activity>
        <activity
            android:name="com.icon.activities.SettingsActivity"
            android:label="@string/action_settings" >
            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.icon.activities.AboutActivity"
            android:label="@string/action_about" >
        </activity>
        <activity
            android:name="com.icon.activities.LogActivity"
            android:label="@string/action_logs" >
            <intent-filter>
                <action android:name="LogActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
